/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilos do cabeçalho */

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
}

.logo {
    float: left;
}

.logo img {
    height: 50px; /* Ajuste conforme o tamanho logo */
    margin-left: 30px;
}

nav {
    float: left;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 20;
    padding: 10;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social {
    float: right;
    margin-right: 20px;
    padding: 10px;
}

.social a {
    margin-left: 20px;
    padding: 10px;
}

.social img {
    height: 30px; /* Ajuste conforme o tamanho dos ícones das redes sociais */
}

/* Estilos do banner */

.banner {
    background-image: url('banner.jpg'); /* Substitua pela imagem do seu banner */
    background-size: cover;
    color: #0f0a0a;
    text-align: center;
    padding: 100px 0;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.banner p {
    font-size: 1.5em;
}









.novo-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.faca-mais-texto{
    width: 60%;
    padding: 0 40px;
}
.faca-mais-texto h3{
    font-size: 50px;
}
.faca-mais-texto p{
    margin: 5px 0 10px 0;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
}
.faca-mais-imagem{
    width: 40%;
}
.faca-mais-imagem img{
    width: 100%;
}


.faca-mais-imagem img{
    height: 300px;
    width: 300x;
}

.btn{
    background-color: aqua;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
    outline: none;
}







.btn2{
    background-color: aqua;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;

}

.novo-container2{
    display: flex;
    text-align: center;
}


.fotos2{
    display: flex;
     
}
.fotos2 img{
    flex: 1;
    margin: 5px;
    height: 400px;
    width: 400px;

}

.sobre-bebejucas h2{
    font-size: 50px;
    color: black;
    margin: 18px 0;
    padding: 10px ;

}
.sobre-bebejucas p{
    font-size: 18px;
    color: black;
    margin: 18px 0;
    padding: 10px ;
 
}
.contato h2, h3 {
    font-size: 30px;
    color: black;
    margin: 18px 0;
    padding: 10px ;
}
.contato p{
    font-size: 18px;
    color: black;
    margin: 18px 0;
    padding: 10px ; 
    
}








/* Estilos do rodapé */

footer {
    background-color: #76e5d8;
    color: black;
    text-align: center;
    padding: 5px;
    position: none;
    bottom: 0;
    width: auto;
}
